.main {
    position: absolute;
    top: 0px;
    
    width: 100vw;
    height: 100vh;
    background: transparent url('../../images/party-people-enjoy-concert-at-festival-summer-DHDMPWH.jpg') 91% 44% no-repeat padding-box;
    
    background-size: cover;
    margin-top: 0px;
    background-position: 0px;
    background-repeat: no-repeat;
}
